# Supabase Configuration
VITE_SUPABASE_URL=https://lxavjgeeghymrwauchvy.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx4YXZqZ2VlZ2h5bXJ3YXVjaHZ5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc5ODY4OTIsImV4cCI6MjEwMzU2Mjg5Mn0.zBeoMuRnN9OUOoP4tRmxO-zivew03bjj9QenP4PM-4A

# Gmail SMTP Configuration (Template email sudah ditulis langsung di dalam kodingan api/send-otp.js)
# Masukkan akun Gmail Anda dan 16-digit Google App Password
GMAIL_USER=nexoracompany08@gmail.com
GMAIL_APP_PASSWORD=kyhi ghzn cbov qzle
